node_modules/
dist/
src-tauri/target/
src-tauri/gen/
src-tauri/binaries/*.zip
src-tauri/binaries/*.tar.gz
src-tauri/binaries/*-x86_64-pc-windows-msvc.exe
src-tauri/resources/MediaInfo-LIBCURL.DLL
!src-tauri/binaries/README.md
*.log
.DS_Store
.idea/
.vscode/
